.app__contacts {
    padding-top: 10rem;
    height: 100vh;
    display: flex;
    margin-top: -5rem;
    color: rgb(14, 12, 34);
    background-color: rgb(227, 227, 240);
}

.app__contacts-header {
    flex: 1;
    height: 100vh;
    text-align: center;
}

.app__contacts-form {
    flex: 2;
    text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

/* MEDIA QUERIES  */
@media (max-width: 700px) {
    
}
