:root { --color-blue: rgb(0, 145, 101);
        --color-whiteblueg: rgb(253, 252, 222);
        --color-react: rgb(172, 35, 236);
        --color-yellow: rgb(255, 223, 82);
} 

body{
  font-family: Rajdhani !important;

